{% import '_includes/forms' as forms %}
{% from 'critter/macros' import configWarning %}

{{ forms.selectField({
    label: "Cache Type"|t(pluginHandle),
    instructions: "Select the cache system to use for clearing/refreshing cached pages after critical CSS generation."|t(pluginHandle),
    warning: (config.cacheType is defined ? configWarning('cacheType')),
    name: 'settings[cacheType]',
    options: cacheTypeOptions,
    value: settings.cacheType,
    toggle: true,
    disabled: readOnly
}) }}

{% if not cacheTypeOptions or cacheTypeOptions|length == 1 %}
    <p class="light">
        <strong>Note:</strong> There are no compatible caching plugins enabled.<br>
    </p>
{% endif %}

{% for cache in caches %}
    {% set cacheClassName = className(cache) %}
    {% set isCurrent = (cacheClassName == settings.cacheType) %}

    <div id="{{ cacheClassName|id }}" {{ not isCurrent ? 'class="hidden"' }}>

        {% set unavailableWarning = cache.getUnavailableWarning() %}
        {% if unavailableWarning %}
            <div class="field">
                <p class="warning with-icon">
                    {{ unavailableWarning }}
                </p>
            </div>
        {% endif %}

        {% namespace 'cacheSettings[' ~ cacheClassName ~ ']' %}
            {{ cache.getSettingsHtml()|raw }}
        {% endnamespace %}
    </div>
{% endfor %}
