{% extends 'critter/_layouts/cp' %}

{% import '_includes/forms' as forms %}
{% from 'critter/macros' import configWarning %}

{% set fullPageForm = true %}
{% set selectedTab = 'sections' %}

{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="{{ pluginHandle }}/settings/save">
    <input type="hidden" name="pluginHandle" value="{{ pluginHandle }}">

    <div class="field">
        <div class="heading">
            <h1>Sections</h1>
        </div>

        {# <div class="instructions">
            <p>...</p>
        </div> #}

        {% if config.sectionSettings is defined %}
            <p class="warning has-icon">
                <span class="icon" aria-hidden="true"></span>
                <span class="visually-hidden">Warning: </span><span>{{ configWarning('sectionSettings') }}</span>
            </p>
        {% endif %}

        <hr>
    </div>

    {% for section in sections %}
        <div class="field">
            <div class="heading">
                <h2>{{ section.name }}</h2>
            </div>

            {% set settingsMode = settings.sectionSettings[section.handle].mode ?? null %}
            {% set configMode = config.sectionSettings[section.handle].mode ?? null %}

            {% set isSingle = section.type == 'single' %}
            {% set value = isSingle ? 'url' : settingsMode %}

            {{ forms.selectField({
                label: "Mode"|t(pluginHandle),
                instructions: "Select the mode that entries in the <strong>#{section.name}</strong> section should use. \n <ul><li><strong>URL:</strong> Unique CSS will be used for each URL in this section.</li><li><strong>Section:</strong> The same CSS will be used for all URLs in this section.</li></ul>"|t(pluginHandle),
                name: "settings[sectionSettings][#{section.handle}][mode]",
                options: modeOptions,
                value: value ?? settings.defaultMode,
                toggle: true,
                disabled: isSingle,
                tip: isSingle ? 'Singles always use URL mode.'|t(pluginHandle),
            }) }}

            {% if not loop.last %}
                <hr>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
