{% extends 'critical-css-generator/_layouts/cp' %}
{% import '_includes/forms' as forms %}

{# @var plugin \mijewe\craftcriticalcssgenerator\Critical #}
{# @var settings \mijewe\craftcriticalcssgenerator\models\Settings #}

{% set title = 'Critical CSS Generator' %}
{% set pluginHandle = 'critical-css-generator' %}

{# whether or not allowAdminChanges is on #}
{% set readOnly = readOnly ?? false %}

{% set fullPageForm = true %}

{% set selectedSubnavItem = 'settings' %}

{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="{{ pluginHandle }}/settings/save">
    <input type="hidden" name="pluginHandle" value="{{ pluginHandle }}">

    {% for id,tab in tabs %}
        <div id="{{ id }}" class="{{ not loop.first ? 'hidden' }}">
            {% include "#{pluginHandle}/cp/settings/includes/#{id}" ignore missing %}
        </div>
    {% endfor %}

{% endblock %}
